<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>


<% if user_signed_in? %>
  <%= current_user %>

<% else %>
  <li><%= link_to "Sign Up as Teacher", new_user_registration_path, class: 'nav-link'%></li>
  <li><%= link_to "Log in", new_user_session_path, class: 'nav-link'%></li>
<% end %>