<li class="list__item col-md-2">

  <div class="card">
    <div class="card__header">
      <p class="card__title"><%=task.name %></p>
    </div>

    <div class="card__body">
      <p class="card__info">Id: <%=task.id %></p>
      <p class="card__info">Name: <%=task.language%></p>
    </div>


  <%= link_to "View" , task_path(@group,task), class: ' btn-dark'%>

  </div>

</li>