<div class="form__field">
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control input' %>
</div>

<div class="row justify-content-center">
  <%= f.submit "Submit", class: "btn btn-dark" %>
</div>