
<li class="col-md-2">

  <div class="card">
    <div class="card__header">
      <p class="card__title"><%=group.name %></p>

      <p></p>
    </div>

    <div class="card__body">
      <p class="card__info">Id: <%=group.id %></p>
      <p class="card__info">Attenders: <%=group.users.count%></p>
    </div>

    <%= link_to "View" , group, class: ' card__btn btn-dark'%>

  </div>

</li>