<li class="col-md-3">

  <div class="list__item">
  <%= link_to user.name, user, class: "list__link" %>

  <% if current_user.teacher? && !(current_user == user) %>
<!--     If user teacher then do something with users (but not with other teachers)-->
      <%=yield %>
  <% end %>

  </div>


</li>

<!--<div class="card">-->
<!--  <div class="card__header">-->
<!--    <p class="card__title"><%#= link_to user.name, user %></p>-->
<!--  </div>-->

<!--  <div class="card__body">-->
<!--    <div class="card__info"><%#=user.email %></div>-->
<!--  </div>-->


  <%# if current_user.teacher? && !(current_user == user) %>
<!--    If user teacher then do something with users (but not with other teachers)-->
    <%#=yield %>
  <%# end %>

<!--</div>-->
