<li>

  <%= link_to user.name, user %>
  <% if current_user.teacher? && !(current_user == user) %>


<!--     If user teacher then do something with users (but not with other teachers)-->

      <%if !user.teacher? %>

      <%=yield %>

      <%end %>

  <% end %>
</li>