<% provide(:title, @user.name)%>


<div class="user">
  <h2 class = "user__name"> <%= @user.name %></h2>

  <p class="user__email">Email: <%= @user.email %></p>
  <% if @user.teacher?%>

    <p class="user__role">Role: Teacher</p>

    <li><%= link_to "Create student", "#", class: 'nav-link'%></li>
  <%else %>
    <p class="user__role">Role: Student</p>
  <%end %>


</div>



