*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


html {
  //1rem = 10px
  font-size: 62.5%;

}

body  {
  box-sizing: border-box;
  padding: 3rem;
  background-color: $color-grey-light-1;
}

.app-container {
  background-color:#e7eff6;
  border: $color-dark-gray-800 .5rem solid;
  padding: 10rem 7rem;

}