.list {




  &__item {
    margin: 2rem;
    transition: all .3s;
  }

  &__link {
    background-color: $color-dark-gray-800;
    color: $color-grey-light-2;
    display: block;
    text-align: center;
    padding: 3rem 4rem;

  }

  //&__item:hover{
  //  transform: scale(1.1);
  //}
}

