

$color-primary: #adcbe3;
$color-secondary: #2a4d69;
$color-tertiary: #4b86b4;


$color-grey-light-1: #f7f7f7;
$color-grey-light-2:#eee;
$color-dark-grey:#777;
$color-dark-grey-2: #999;
$color-dark-grey-3: #333;


$color-white: #fff;
$color-black: #000;

$state-danger-text: red;