.btn {
  padding: 1.5rem 3rem;
  display: block;
  font-size: 2rem;

}

.action-btn {
  border: black 1px solid;
  background-color: $color-secondary;

  display: block;
  color: $color-grey-light-2;
}