<div class="form__field">

  <%= f.label :solution %>
  <%= f.text_area :solution, class: 'form-control input' %>
</div>

<div class="row justify-content-center ">
  <%= f.submit "Submit", class: "btn btn-dark"%>
</div>
