<div class="solution">
  <h1 class="heading-1">Solution name</h1>
  <p class="solution__info">
    ID: <%=@solution.id %>
  </p>
  <p class="solution__info">
    User ID: <%=@solution.user_id %>
  </p>
  <p class="solution__info">
    Task ID: <%=@solution.task_id %>
  </p>
  <p>
    Solution: <%=@solution.solution %>
  </p>

</div>


